<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.connection.url">
            jdbc:postgresql://revaturedb.cqu0vx8vy1y0.us-east-2.rds.amazonaws.com:5432/mydb
        </property>

        <property name="hibernate.connection.username">
            enewman10
        </property>

        <property name="hibernate.connection.password">
            Packers1!
        </property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
<!--        <property name="connection.pool_size">1</property>-->
        <!-- Select our SQL dialect -->
        <!-- Echo the SQL to stdout -->

<!--        <property name="show_sql">true</property>-->
        <!-- Set the current session context -->
<!--        <property name="current_session_context_class">thread</property>-->
        <!-- Drop and re-create the database schema on startup -->

        <!-- dbcp connection pool configuration -->
<!--        <property name="hibernate.generate_statistics">true</property> -->
        <mapping class="com.revature.models.Reimbursement" />
        <mapping class="com.revature.models.User" />
    </session-factory>
</hibernate-configuration>